button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.navbar .container {
  padding: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-right {
  margin-right: 0 !important;
}

.main-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.canvas-col {
  padding: 0;
}

main {
  height: 100%;
  padding-top: 53px; /* topbar */
  padding-bottom: 50px; /* footer */
}

main.fullscreen {
  height: 100%;
}

html, body, #root, .App, .main-container, .canvas-col, .side-col, .resize-sensor {
  height: 100%;
}

.canvas-container {
  margin-right: 0;
}

.icon-2x {
  font-size: 2em;
}

.submit-name-button {
  height: 1px;
}

.exit-fullscreen-icon {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2px;
  margin-bottom: 2px;
}

.canvas-outer-container {
  background: #aaaaaa;
}