button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.navbar .container {
  padding: 0;
  width: 100%;
}

.canvas-container {
  overflow: hidden;
}

.navbar-right {
  margin-right: 0 !important;
}