button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.navbar .container {
  padding: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-right {
  margin-right: 0 !important;
}

.main-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.canvas-col {
  padding: 0;
}

main {
  height: 100%;
  padding-top: 53.25px; /* topbar */
  padding-bottom: 51px; /* footer */
}

main.fullscreen {
  padding-top: 0;
  padding-bottom: 0;
}

html, body, #root, .App, .main-container, .canvas-col, .side-col, .resize-sensor {
  height: 100%;
}

.canvas-container {
  margin-right: 0;
}

.icon-2x {
  font-size: 2em;
}

.submit-name-button {
  height: 1px;
}

.exit-fullscreen-icon {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2px;
  margin-bottom: 2px;
}

.canvas-outer-container {
  background: #aaaaaa;
}

.right-panel {
  overflow-y: auto;
  position: fixed;
  top: 54px;
  background: #aaaaaa;
  height: calc(100% - 105px); /* topbar + footer */
  padding: 25px 25px 0 25px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}