.canvas-container {
  position: relative;
  border: none;
  border: solid 1px black;
}

.zoom-canvas {
  z-index: 2;
  position: absolute;
  border: solid 1px black;
  top: 0;
  left: 0;
  margin-left: 2px;
  margin-top: 2px;
}

.minimap-canvas {
  z-index: 2;
  position: absolute;
  border: solid 1px black;
  bottom: 0;
  right: 0;
  margin-right: 2px;
  margin-bottom: 2px;
}

.picking-color {
  cursor: url('/assets/pick-color-icon.png') 0 16, pointer;
}