.coming-soon-container {
  /* 45 + 10 + 45 */
  top: 35%;
  height: 30%;
  /* 30 + 40 + 30 */
  left: 30%;
  width: 40%;
  position: absolute;
  z-index: 4;
  padding: 1% 2%;
  border-radius: 10px;
  background-color: rgba(255,255,255,1);
  text-align: center;
}

.coming-soon-container img {
  margin: 10px;
}