.slideout-tab-text {
  transform: rotate(-90deg) translate(-40px, 0px);
}

.slideout {
  cursor: pointer;
  position: fixed;
  top: calc(50% - 0.5 * 54px);
  width: 45px;
  height: 100px;
  text-align: center;
  background: #aaaaaa;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}