.batch-container {
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.batch-container .batch-inner-container {
  position: relative;
  overflow-y: auto;
  max-height: 250px; 
}

.tx-panel-container .panel, .draft-panel-container .panel {
  margin-bottom: 0;
}