.slideout-tab-text {
  transform: rotate(-90deg) translate(-40px, 0px);
}

.slideout {
  cursor: pointer;
  position: fixed;
  top: calc(50% - 0.5 * 52px);
  width: 45px;
  height: 100px;
  text-align: center;
  background: #aaaaaa;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
    
.slideout-inner {
  cursor: auto;
  position: fixed;
  top: 52px;
  background: #aaaaaa;
  width: 290px;
  height: 100%;
  padding: 25px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}