.navbar .container {
  padding: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-right {
  margin-right: 0 !important;
}

.settings-icon {
  font-size: 22px;
}

.nav>li.settings-icon>a:focus:not(:hover) {
  color: #777 !important;
}